:root {
    --text-color: black;
    --background-color: white;
    --surface-color: #dcdcdc;
    --accent-color: #3083e8;
}

html,
body {
    position: relative;
    height: 100%;
}

html {
    font: 500 18px "Montserrat", sans-serif;
    -webkit-text-size-adjust: 100%;
    -webkit-ser-select: none;
    user-select: none;
}

body {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    gap: 10px;
    box-sizing: border-box;
    margin: 0;
    padding: 10px;
}

h1,
h2 {
    margin: 0;
}

form {
    width: fit-content;
    margin: 5px;
}

input[type="radio"] {
    display: none;
}

input[type="radio"]+label {
    display: inline-block;
    padding: 0.5em;
    border-radius: 0.25em;
    color: var(--text-color);
    background-color: var(--surface-color);
    transition: 250ms;
}

input[type="radio"]:checked+label {
    color: white;
    background-color: var(--accent-color);
}

button {
    padding: 0.5em;
    border: none;
    border-radius: 0.25em;
    color: var(--text-color);
    background-color: var(--surface-color);
    font: 500 18px "Montserrat", sans-serif;
    transition: 250ms;
}

button:hover {
    color: white;
    background-color: var(--accent-color);
}

.game-container {
    display: flex;
    align-items: center;
    flex: 1;
    overflow: auto;
}

.game-container>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    flex: 1;
}

.icon {
    margin: 0;
    font-size: 100px;
}

@media only screen and (max-width: 480px) {
    .game-container {
        flex-direction: column;
        gap: 10px;
    }
}